<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.executor.xxljobexecutormqimprove.mapper.RealtimeTaskMapper">

    <insert id="upsetTskInfo" parameterType="com.executor.xxljobexecutormqimprove.entity.CommonTaskEntity">
        insert into user_scheduled_realtime_task (id, task_id, task_name, biz_name, biz_group, next_trigger_time, last_trigger_time, scheduled_conf,
                                                create_at, update_at, scheduled_type, enable, payload, topic, process)
        VALUES (#{id}, #{taskId}, #{taskName}, #{bizName}, #{bizGroup}, #{nextTriggerTime}, #{lastTriggerTime}, #{scheduledConf}, #{createAt},
                #{updateAt}, #{scheduledType}, #{enable},#{payload},#{topic},#{process}) ON DUPLICATE KEY
        UPDATE
            next_trigger_time = VALUES (next_trigger_time),
            last_trigger_time = VALUES (last_trigger_time),
            scheduled_conf = VALUES (scheduled_conf),
            update_at = VALUES (update_at),
            scheduled_type = VALUES (scheduled_type),
            enable = VALUES (enable),
            payload = VALUES (payload),
            topic = VALUES (topic),
            process = VALUES (process)
    </insert>

    <!-- 其他SQL可参考CommonTaskMapper.xml按需添加 -->

</mapper> 